* {
    box-sizing: border-box
}

/* Container*/

.slideshow-container {
    max-width: 1000px;
    margin: auto;
	position: relative;
}

/* Ẩn các bức ảnh chưa hiện */

.mySlides {
    display: none;
}

/* Fading Effect */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}